
<div id="flight-search">
    <%= form_with(url: "/flights", method: "get")  do %>
        <div class="form-field">
            <%= label_tag(:departure_code, "Depart from:") %>
            <%= select_tag(:departure_code, options_for_select(@airport_options)) %>
        </div>
        <div class="form-field">
            <%= label_tag(:arrival_code, "Arrive at:") %>
            <%= select_tag(:arrival_code, options_for_select(@airport_options)) %>
        </div>
        <div class="form-field">
            <%= label_tag(:num_tickets, "# of passengers") %>
            <%= select_tag(:num_tickets, options_for_select(@passenger_options)) %>
        </div>
        <div class="form-field">
            <%= label_tag(:date, "Date") %>
            <%= select_tag(:date, options_for_select(@date_options)) %>
        </div>
        <%= submit_tag("Search") %>
    <% end %>
</div>
<div id="flight-matches">
    <% if @flights.length > 0 %>
        <div>
            <h2>Matching flights:</h2>
        </div>

        <table>
        <tr>
            <th>Flight no.</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Date</th>
            <th>Departure Time</th>
            <th>Duration</th>
        </tr>
        <% @flights.each do |flight| %>
            <tr>
                <th><%= flight.id %></th>
                <th><%= flight.departure_airport.airport_code %></th>
                <th><%= flight.arrival_airport.airport_code %></th>
                <th><%= flight.departure_time_formatted %></th>
                <th><%= flight.departure_time_format_time %></th>
                <th><%= flight.duration %></th>
                <th>
                    <%= form_with(url: "bookings/new", method: "get") do |form| %>
                        <%= hidden_field_tag "flight_id", flight.id %>
                        <%= hidden_field_tag "num_tickets", params[:num_tickets] %>
                        <%= submit_tag("Choose flight") %>
                    <% end %>
                </th>
            </tr>
        <% end %>
        </table>
    <% end %>
</div>


