

<div>
Space
</div>

Flight ID: <%= @flight.id %>,
<%= @flight.departure_time %>
From: <%= @flight.departure_airport.airport_code %>
To: <%= @flight.arrival_airport.airport_code %>

<%= form_for @booking, local: true do |f| %>
    <%= hidden_field_tag :flight_id, @flight.id %>
        <%= f.fields_for :passengers do |passenger_form| %>
            <%= passenger_form.text_field :name, placeholder: "name" %>
            <%= passenger_form.text_field :email, placeholder: "email" %>
        <% end %>
    <%= submit_tag("Book Flight") %>
<% end %>


<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>


