

<div>
Space
</div>

Flight ID: <%= @flight.id %>,
<%= @flight.departure_time %>
From: <%= @flight.departure_airport.airport_code %>
To: <%= @flight.arrival_airport.airport_code %>

<%= form_for @booking do |f| %>
    <%= hidden_field_tag("flight_id", @flight.id) %>
    <% @booking.passengers.each do |passenger|%>
        <%= f.fields_for passenger, index: passenger.id do |passenger_form| %>
            <%= passenger_form.text_field :name, placeholder: "name" %>
            <%= passenger_form.text_field :email, placeholder: "email" %>
        <% end %>

    <% end %>
    <%= submit_tag("Book Flight") %>
<% end %>

