<div>
    <h1>Booking information</h1>
</div>
<div>

</div>
Flight Number: <%= @booking.flight.id %>

<div>
    Departure Time: <%= @booking.flight.departure_time %>  
</div>
<div>
    From: <%= @booking.flight.departure_airport.airport_code %>

</div>
<div>
    To: <%= @booking.flight.arrival_airport.airport_code %>

</div>
<div>
    Passengers:
    <% @booking.passengers.each do |p| %>
        <div>
            <%= p.name %>
        </div>
    <% end %>
</div>
